#loginFields {
    margin: auto;
    width: 50%;

    background-color: #1db954;
    background-image: linear-gradient(156deg, #1db954 0%, #157d39 10%, #161616 100%);
    
    border: 1px;
    border-color: #00531d;
    border-style: solid;
    border-radius: 12px;

    padding: 20px
   }



#loginButton {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;

	width: 115px;
	height: 10px;
    
    border: 1px;
    color:#ffffff;
    border-color: #000000;
    border-style: solid;
    border-radius: 12px;

    background-color: #2d2d2d;
    background-image: linear-gradient(180deg, #2d2d2d 40%, #222222 100%);
    padding: 12px
}


#usernameInput{
    padding: 4px;
}

#username{
    margin: auto;
    width: 90%;
    resize:none;

    border: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 12px;

    background-color: #2d2d2d;
    background-image: linear-gradient(180deg, #2d2d2d 40%, #222222 100%);
    padding: 20px;

    font-size: 15px;
}

#passwordInput{
    padding: 4px;
}

#password{
    margin: auto;
    width: 90%;
    resize:none;

    border: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 12px;

    background-color: #2d2d2d;
    background-image: linear-gradient(180deg, #2d2d2d 40%, #222222 100%);
    padding: 20px;

    font-size: 15px;
}




::placeholder {
    color: #ffffff;
  }


body {
    background-color: #1db954;
    background-image: linear-gradient(156deg, #1db954 0%, #157d39 10%, #161616 100%);
}



#textHeading{

    
    font-size: 45px;
    text-align: center;
 

    border-radius: 12px;
    padding: 20px;

}





main {
    margin: auto;
    width: 50%;
    padding: 10px;


    
  }
